.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #540d6e;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0px 1px 3px black;
    color: #edf6f9;
    z-index: 100;
}

@media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 4vw;
    }
  }