*{
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  background-color: #7209b7;
  color: #f8f9fa;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media(max-width: 700px) {
  .App{
    padding-top: 70px;
  }
}

.PageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 2px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}